S3method(density,mixfitEM)
S3method(plot,bootEM)
S3method(plot,mixfitEM)
S3method(plot,selectEM)
S3method(print,mixfitEM)
S3method(print,selectEM)
export(bin)
export(bs.test)
export(initz)
export(mixfit)
export(reinstate)
export(rmixgamma)
export(rmixlnorm)
export(rmixnormal)
export(rmixweibull)
export(select)
export(to_k_lambda_weibull)
export(to_mu_sd_gamma)
export(to_mu_sd_lnorm)
export(to_mu_sd_weibull)
export(to_mulog_sdlog_lnorm)
export(to_shape_rate_gamma)
import(Rcpp)
import(ggplot2)
import(graphics)
import(stats)
useDynLib(mixR, .registration = TRUE)
